<mat-card class="menu-card">

  <mat-toolbar class="menu-toolbar">
    <mat-toolbar-row>
      <span>В избранное добавлено: {{numberFilm}} элементов </span>
      <span class="example-spacer"></span>
      <div>
        <mat-form-field>
          <mat-select (selectionChange)="sortFilms($event.value)" placeholder="Сортировка">
            <mat-option [value]="true"> По алфавиту: А-Я </mat-option>
            <mat-option [value]="false"> По алфавиту: Я-А </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

    </mat-toolbar-row>
  </mat-toolbar>

</mat-card>
<mat-grid-list cols="3" rowHeight="1:2">
  <mat-grid-tile *ngFor="let film of films">
    <!-- <details-inner [info]="film2" [filmInfo]='film2'></details-inner>-->
    <film-item-inner [filmInfo]='film' (update)="setUpdatedValue()" (unUpdate)="setUnUpdatedValue()"></film-item-inner>

  </mat-grid-tile>


</mat-grid-list>
<!--(update)="setUpdatedValue(#event)"-->
